pipeline/LogicApps-PL2.json
{
	"name": "LogicApps-PL2",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-09.northcentralus.logic.azure.com:443/workflows/73ea58b8639d4cdcab0bbb452e9e7917/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=Kc0L-8hodDvNSt0-aIMKR8f7x6_O71cjTIDWuQDm2ag",
					"body": {
						"value": "@activity('Lookup1').output",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_adls_dev_apac1",
						"type": "DatasetReference",
						"parameters": {
							"filename": "employees_tab.csv"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"folder": {
			"name": "dev-apac"
		},
		"annotations": [],
		"lastPublishTime": "2026-02-17T09:10:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}